body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #111010;
  color: rgb(105, 105, 105);
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
}

.art-canvas {
  padding: 5px;
  background-color: #333;
  display: block;
}
